* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(img/back4.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

section {
    position: relative;
    z-index: 10;
    background: #fff;
}


/*center header div*/

.header-div-holder {
    max-width: 26%;
    height: auto;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 1;*/
    color: #fff;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    -webkit-font-smoothing: subpixel-antialiased;
}

.header-div-holder p {
    width: auto;
    display: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

.header-div-holder span {
    font-weight: 400;
    color: #f78210;
}


/*left header div*/

.header-div-left {
    width: 32%;
    height: auto;
    z-index: 1;
    position: fixed;
    top: 14%;
    left: 0;
    margin-left: -5px;
    padding-bottom: 40px;
}

.header-div-left p {
    color: #ebebeb;
    font-size: 12px;
    margin-left: 10%;
    margin-bottom: 5px;
}

.header-div-left span {
    color: #f78210;
    font-weight: bold;
    /*        font-family: 'Comfortaa', cursive;*/
}

.header-div-left i {
    color: #f78210;
    margin-right: 10px;
    text-align: center;
    font-size: 120%;
}

.header-div-left h2 {
    display: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-transform: none;
    border: none;
    padding: 15px;
    padding-left: 20px;
    color: #555;
    text-align: left;
    font-weight: 300;
    font-size: 170%;
    word-spacing: 10px;
    margin-top: 20px;
}


/*right header div*/

.header-div-right {
    display: none;
    width: 28%;
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background: red;
    padding-bottom: 40px;
    background: rgba(247, 130, 16, 0.8);
}

.header-div-right h2 {
    margin-top: 25%;
    color: #fff;
    text-align: center;
    font-size: 220%;
    word-spacing: 10px;
}

.header-div-right p {
    text-align: center;
    font-size: 90%;
}

.header-div-right span {
    color: #555;
    font-weight: bold;
}

.header-div-right .btn-area {
    margin-top: 40%;
}

.btn-h {
    background-color: #f78210 !important;
    color: #fff !important;
    font-size: 80% !important;
}

.btn-h:hover {
    color: #555 !important;
}

.btn-special {
    margin-top: 30%;
    background-color: #fff !important;
    color: #f78210 !important;
    border-radius: 8px !important;
}

.btn-special:hover {
    color: #555 !important;
}


/* ---------mein-nav---------*/

.mein-nav {
    list-style: none;
}

.mein-nav li {
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.mein-nav li a:link,
.mein-nav li a:visited {
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.mein-nav li a:hover,
.mein-nav li a:active {
    /*border-bottom:  3px solid #fff; */
    color: #f78210;
}


/*-------sticky-nav */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ebebeb;
    box-shadow: 0 2px 2px #d9d6d6;
    z-index: 110;
    transition: background-color 0.9s, box-shadow 0.9s, color 0.9s;
}

.sticky .mein-nav li a:link,
.sticky .mein-nav li a:visited {
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.sticky .mein-nav li a:hover,
.sticky .mein-nav li a:active {
    /*border-bottom:  3px solid #fff; */
    color: #f78210;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*----------HEADINGS------------------ */

h3 {
    font-weight: 400;
    word-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8%;
}

h1 {
    padding-top: 80px;
    margin-top: 0;
    color: #555;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 220%;
    word-spacing: 10px;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #f78210;
    /*    #f78210; */
    content: " ";
    width: 120px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 5%;
}

.h1-for-customers {
    color: #fff;
}

.section-who-we-are {
    background-color: #ebebeb;
}

.box {
    margin-bottom: 12%;
    line-height: 145%;
    text-align: center;
    margin-left: 3%;
    width: 30%;
    font-weight: 400;
}


/*---------------PARAGRAPHS--------------------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    word-spacing: 2px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 400;
    padding-bottom: 15%;
    background-color: #ebebeb;
}


/*---------ICONS---------------- */

.icon-large {
    display: block;
    color: #f78210;
    ;
    text-align: left;
    font-size: 400%;
    margin-bottom: 10%;
    text-align: center;
}

.icon-small {
    display: inline-block;
    color: #f78210;
    ;
    width: 30px;
    font-size: 120%;
    text-align: center;
    margin-right: 10px;
    /* secrets for align text and icon */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}


/*---------IMAGES---------------- */

.image-box img {
    width: 100%;
    height: auto;
    margin-bottom: -3%;
}

.section-what-we-done {
    padding-bottom: 6%;
    background-color: #ebebeb;
}


/*---------------PACKETS--------------- */

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 10px 10px #bebebe;
}

.plan-box div:first-child {
    background-color: #f4f4f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    font-weight: 400;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #f6f4f4;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #f78210;
    ;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
    font-weight: 400;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
    font-weight: 400;
}


/*---------------BUTONS----------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    -webkit-transition: background-color 0.8s, border 0.8s, color 0.8s;
    transition: background-color 0.8s, border 0.8s, color 0.8s;
}

.btn:hover,
.btn:active,
input[type=submit] {
    background-color: #f78210;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #f78210;
    border: 1px solid #f78210;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f78210;
    color: #f78210;
    margin-left: 15px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-hgost:active,
input[type=submit] {
    background-color: #f78210;
    border: 1px solid #cf6d17;
    color: #fff;
}


/*---------SECTION CUSTOMERS------------- */

.section-customers {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/people-woman-coffee-meeting.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/people-woman-coffee-meeting.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-bottom: 4%;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*---------------FORM--------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: solid 1px #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/*------------FOOTER---------------------*/

footer {
    background-color: #333;
    padding-bottom: 10%;
    font-size: 80%;
    z-index: 10;
    position: relative;
}

.footer-nav {
    list-style: none;
    float: left;
    margin-top: 3%;
}

.social-nav {
    list-style: none;
    float: right;
    margin-top: 3%;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
    text-decoration: none;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-nav li a:link,
.social-nav li a:visited {
    font-size: 170%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram,
.ion-social-linkedin {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #125688;
}

.ion-social-linkedin:hover {
    color: #007bb5;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 10%;
    margin-bottom: -8%;
}


/*----------ANIMATIONS----------- */

.js--wp-1 {
    opacity: 0;
}

.js--wp-1.animated {
    opacity: 1;
}

.js--wp-2 {
    opacity: 0;
}

.js--wp-2.animated {
    opacity: 1;
}

.js--wp-3 {
    opacity: 0;
}

.js--wp-3.animated {
    opacity: 1;
}

.js--wp-4 {
    opacity: 0;
}

.js--wp-4.animated {
    opacity: 1;
}

.offer-container {
    margin-bottom: 30px;
}

.offer-container:hover {
    cursor: pointer;
}

.section-form {
    background: #ebebeb;
}
